<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3>게시물 작성</h3>
        <form action="/page/4?author=user1" method="post" th:object="${post}">
            <div>
                <label for="title">제목 : </label>
                <input type="text" id="title" name="title" th:field="*{title}">
            </div>
            <div>
                <label for="contents"></label>
                <textarea name="contents" id="contents" cols="30" rows="10" th:field="*{contents}"></textarea>
            </div>
            <div>
                <button type="submit">작성</button>
            </div>
        </form>
    </div>
</body>
</html>