.container {
    position: relative; /* 교차축 가상 요소 배치용 */
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* 교차축: 세로 중앙 */
    width: 0; /* 선 두께가 border로 설정됨 */
    border-left: .5px dashed gray; /* 점선 */
    transform: translateX(-50%); /* 선을 정확히 가운데로 이동 */
  }
  
  .container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%; /* 주축 위치: 가로 중앙 */
    height: 0; /* 선 두께가 border로 설정됨 */
    border-top: 0.5px dashed gray; /* 점선 */
    transform: translateY(-50%);
  }